*{
  margin: 0 auto;
}
body{
  width: 83.334%;
}
header{
  height: 100px;
  background-color: orange;
}
nav{
  height: 100px;
  background-color: blue;
}
main{
}
aside{
  width: 10%;
  background-color: green;
  float: left;
  padding: 1.667% 0% 1.667% 1.667%;
}
article{
  width: 85%;
  background-color: yellow;
  min-height: 360px;
  padding: 1.667%;
  float: left;
}
footer{
  height: 100px;
  background-color: red;
  clear: left;
}
